# Build output
/build/
/out/
/dist/
CMakeCache.txt
CMakeFiles/

# Compiled files
*.o
*.obj
*.exe
*.app

# IDE files
.vscode/
.vs/
.idea/
.cursor/

# OS junk
.DS_Store
Thumbs.db

# debuggeis
main
*.dSYM/
*.pdb
